<link href="~/Content/clickjack.css" rel="stylesheet" />
<div id="form-container">
    <form class="form-signin ">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </form>
</div>
<style>
    body {
        width: 100%;
        height: 800px;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 800px;
        border: none;
    }

    #form-container {
        position: absolute;
        width: 100%;
        top: 103px;
    }
</style>
<iframe src="@Url.Action("SafeIndex")"></iframe>
