<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/signin.css" rel="stylesheet">
    <title>Signin Template for Bootstrap</title>
</head>
<body>
    @RenderBody()
</body>
</html>
